<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>servlets.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLibrarianForm</servlet-name>
        <servlet-class>servlets.AddLibrarianForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLibrarian</servlet-name>
        <servlet-class>servlets.ViewLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB</servlet-name>
        <servlet-class>dao.DB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarianDao</servlet-name>
        <servlet-class>dao.LibrarianDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarianBean</servlet-name>
        <servlet-class>beans.LibrarianBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookBean</servlet-name>
        <servlet-class>beans.BookBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBookBean</servlet-name>
        <servlet-class>beans.IssueBookBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDao</servlet-name>
        <servlet-class>dao.BookDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>servlets.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookForm</servlet-name>
        <servlet-class>servlets.AddBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLibrarian</servlet-name>
        <servlet-class>servlets.AddLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>servlets.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLibrarian</servlet-name>
        <servlet-class>servlets.DeleteLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLibrarian</servlet-name>
        <servlet-class>servlets.EditLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLibrarianForm</servlet-name>
        <servlet-class>servlets.EditLibrarianForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBook</servlet-name>
        <servlet-class>servlets.IssueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBookForm</servlet-name>
        <servlet-class>servlets.IssueBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrarianLogin</servlet-name>
        <servlet-class>servlets.LibrarianLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutLibrarian</servlet-name>
        <servlet-class>servlets.LogoutLibrarian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBook</servlet-name>
        <servlet-class>servlets.ReturnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookForm</servlet-name>
        <servlet-class>servlets.ReturnBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBook</servlet-name>
        <servlet-class>servlets.ViewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewIssuedBook</servlet-name>
        <servlet-class>servlets.ViewIssuedBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLibrarianForm</servlet-name>
        <url-pattern>/AddLibrarianForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLibrarian</servlet-name>
        <url-pattern>/ViewLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB</servlet-name>
        <url-pattern>/DB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarianDao</servlet-name>
        <url-pattern>/LibrarianDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarianBean</servlet-name>
        <url-pattern>/LibrarianBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookBean</servlet-name>
        <url-pattern>/BookBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBookBean</servlet-name>
        <url-pattern>/IssueBookBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDao</servlet-name>
        <url-pattern>/BookDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookForm</servlet-name>
        <url-pattern>/AddBookForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLibrarian</servlet-name>
        <url-pattern>/AddLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLibrarian</servlet-name>
        <url-pattern>/DeleteLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLibrarian</servlet-name>
        <url-pattern>/EditLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLibrarianForm</servlet-name>
        <url-pattern>/EditLibrarianForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBook</servlet-name>
        <url-pattern>/IssueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBookForm</servlet-name>
        <url-pattern>/IssueBookForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrarianLogin</servlet-name>
        <url-pattern>/LibrarianLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutLibrarian</servlet-name>
        <url-pattern>/LogoutLibrarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBook</servlet-name>
        <url-pattern>/ReturnBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookForm</servlet-name>
        <url-pattern>/ReturnBookForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBook</servlet-name>
        <url-pattern>/ViewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewIssuedBook</servlet-name>
        <url-pattern>/ViewIssuedBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
